@import "header.css";
@import "footer.css";

aside {
  float: left;
  margin-left: 14px;
  padding-right: 4px; }
  aside .banner-service {
    display: inline-block; }
    aside .banner-service img {
      display: block; }

article {
  float: right;
  width: 77%;
  float: right; }
  article .title h1 {
    margin: 0;
    margin-left: 12px;
    font-size: 24px;
    font-family: "Myriad Pro";
    color: #0e4d7c;
    font-weight: bold;
    line-height: 1.2;
    text-align: left; }
  article .title p {
    margin: 0;
    margin-top: 24px;
    margin-right: 16px;
    margin-left: 12px; }
  article h1, article h2, article h3, article h4, article h5 {
    margin-top: 36px;
    padding-bottom: 8px;
    margin-left: 12px;
    margin-right: 16px;
    font-size: 12px;
    font-family: "Verdana";
    color: #0e4d7c;
    line-height: 1.5;
    text-align: left; }
  article p {
    margin: 0;
    margin-left: 12px;
    margin-right: 16px;
    font-size: 12px;
    font-family: "Verdana";
    color: #9d9e9e;
    line-height: 1.5;
    text-align: left; }
