@import "header.css";
@import "filter.css";
@import "pagination.css";
@import "footer.css";


.content {
  float: left;
  width: 358px;
  height: 130px;
  margin-left: 16px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ebebe8;
  border: 1px solid #e5e2c4; }
  .content .wrap {
    margin: 6px;
    overflow: hidden;
    background-color: #FFF; }
    .content .wrap h2 {
      margin: 0; }
      .content .wrap h2 a {
        display: inline-block;
        text-decoration: none;
        font-size: 12px;
        font-family: "Verdana";
        color: #1987cb;
        font-weight: bold; }
    .content .wrap .turs-item img {
      float: left;
      margin-top: 10px;
      margin-left: 8px;
      margin-bottom: 8px;
      margin-right: 8px; }
    .content .wrap .next {
      float: right;
      width: 48%; }
      .content .wrap .next span {
        display: inline-block;
        font-size: 12px;
        font-family: "Verdana";
        color: #9d9e9e;
        text-align: left; }
        .content .wrap .next span b {
          text-align: right;
          color: red; }
      .content .wrap .next p {
        margin: 0;
        font-size: 12px;
        font-family: "Verdana";
        color: #9d9e9e;
        text-align: left; }
      .content .wrap .next button {
        display: inline-block;
        float: left;
        margin-top: 8px;
        color: #fff;
        font-family: "Myriad Pro";
        font-size: 18px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #f47f11;
        border-radius: 5px;
        background-image: -webkit-gradient(linear, left top, right top, from(#f47c0e), to(#faa848));
        background-image: -webkit-linear-gradient(left, #f47c0e 0%, #faa848 100%);
        background-image: -o-linear-gradient(left, #f47c0e 0%, #faa848 100%);
        background-image: linear-gradient(90deg, #f47c0e 0%, #faa848 100%);
        -webkit-box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21);
        box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21); }
