@import "header.css";
@import "footer.css";
article {
  float: right;
  width: 77%;
  float: right; }
  article .title h1 {
    margin: 0;
    margin-left: 12px;
    font-size: 24px;
    font-family: "Myriad Pro";
    color: #0e4d7c;
    font-weight: bold;
    line-height: 1.2;
    text-align: left; }
  article .title p {
    margin: 0;
    margin-top: 24px;
    margin-right: 16px;
    margin-left: 12px;
    padding-bottom: 68px;
    font-size: 12px;
    font-family: "Verdana";
    color: #9d9e9e;
    line-height: 1.5;
    text-align: left; }

form {
  margin-left: 38px; }
  form .input-wrap {
    margin-bottom: 12px; }
    form .input-wrap .l-wrap {
      float: left;
      width: 82px;
      font-size: 12px;
      font-family: "Verdana";
      color: #313639;
      font-weight: bold;
      line-height: 2.25;
      text-align: left; }
    form .input-wrap .i-wrap {
      margin-left: 82px; }
  form input {
    margin-left: 10px;
    height: 26px;
    margin-right: 16px;
    border: 1px solid #d2caca;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  form #message {
    height: 193px;
    width: 79.8%; }
  form #name {
    width: 63.5%; }
  form #lastname {
    width: 63.5%; }
  form #email {
    width: 52.7%; }
  form #phone {
    width: 24%; }
  form #submit {
    margin-bottom: 220px;
    font-size: 12px;
    font-family: "Myriad Pro";
    color: white;
    text-transform: uppercase;
    line-height: 2.25;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #f47f11;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(90deg, #f47c0e 0%, #faa848 100%);
    background-image: -ms-linear-gradient(90deg, #f47c0e 0%, #faa848 100%);
    -webkit-box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21);
    box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21); }
