body {
  margin: 0;
  padding: 0;
  background-image: url(../images/Background.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100%  100%;
  background-size: 100%  100%; }

.site-container {
  width: 58.7%;
  overflow: auto;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px; }
  .site-container header {
    height: 115px;
    background-color: #f3f3f3;
    border-bottom: 2px solid #185480; }
    .site-container header .logo {
      float: left;
      margin-left: 16px; }
    .site-container header .phone {
      float: right;
      margin-right: 16px;
      margin-top: 14px;
      width: 150px;
      height: 24px;
      background-color: #185480;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.22);
      box-shadow: 1px 1.732px 2px 0px rgba(0, 0, 0, 0.22); }
      .site-container header .phone img {
        margin-left: 10px;
        margin-top: 2px; }
      .site-container header .phone span {
        display: inline-block;
        position: relative;
        top: -3.5px;
        font-size: 18px;
        font-family: "Myriad Pro";
        font-weight: bold;
        text-align: right;
        text-shadow: 0.5px 0.866px 1px rgba(0, 0, 0, 0.75);
        color: #fff; }
      .site-container header .phone p {
        margin: 0;
        font-size: 12px;
        font-family: "Myriad Pro";
        color: #74787b;
        text-transform: uppercase;
        line-height: 2.25;
        margin-left: 22px; }
    .site-container header .head {
      margin: 0;
      padding: 0;
      padding-top: 77px;
      height: 38px;
      margin-left: 14px; }
      .site-container header .head .top-menu {
        margin: 0;
        padding: 0; }
        .site-container header .head .top-menu li {
          float: left;
          height: 38px;
          margin-left: 2px;
          -webkit-border-radius: 5px  5px 0 0;
          border-radius: 5px  5px 0 0;
          list-style: none;
          background-color: #1384c6; }
          .site-container header .head .top-menu li a {
            display: inline-block;
            height: 38px;
            line-height: 2.8;
            text-decoration: none;
            color: #fff;
            font-size: 15px;
            font-family: "Myriad Pro";
            text-transform: uppercase;
            text-align: center;
            padding-left: 35px;
            padding-right: 35px; }
        .site-container header .head .top-menu li:hover {
          background-color: #fff;
          height: 40px; }
          .site-container header .head .top-menu li:hover a:hover {
            color: #d24602;
            font-weight: bold; }
      .site-container header .head .lang {
        display: inline-block;
        float: right;
        margin-top: 4px;
        margin-right: 24px; }
        .site-container header .head .lang #lang {
          width: 122px;
          border: 1px solid #e4e2e2;
          padding-top: 5px;
          padding-bottom: 3px;
          background-image: url(../images/lang.png);
          background-repeat: no-repeat;
          background-position: 70% 50%; }
  .site-container .line {
    height: 2px;
    background-color: #d6d6d6;
    margin-bottom: 16px; }

footer {
    width:58.7%;
    margin-left: auto;
    margin-right: auto;}
  footer .foot-menu ul {
    margin: 0;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px; }
    footer .foot-menu ul li {
      float: left;
      list-style: none;
      margin-left: 20px; }
      footer .foot-menu ul li a {
        text-decoration: none;
        font-size: 12px;
        font-family: "Verdana";
        font-weight: bold;
        color: #747a7e;
        line-height: 1.167;
        text-align: left; }
  footer .foot-menu .copyright {
    float: right;
    margin-right: 20px; }
    footer .foot-menu .copyright span {
      font-size: 12px;
      font-family: "Verdana";
      color: #747a7e;
      line-height: 1.167;
      text-align: left; }

.wrapper .filter-main {
  float: left;
  display: inline-block;
  margin-left: 16px;
  width: 264px;
  border: 1px solid #e5e2c4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ebebe8; }
  .wrapper .filter-main span {
    display: inline-block;
    margin-left: 16px;
    margin-top: 10px;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: #0e4d7c;
    font-weight: bold;
    text-align: left; }
  .wrapper .filter-main .holy-search {
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    background-color: #fff; }
    .wrapper .filter-main .holy-search #form span {
      font-family: "Verdana";
      font-weight: bold;
      font-size: 12px;
      margin-top: 22px;
      margin-left: 8px; }
    .wrapper .filter-main .holy-search #form .where {
      margin-top: 10px; }
    .wrapper .filter-main .holy-search #form #dest {
      width: 236px;
      height: 26px;
      margin-left: 8px;
      margin-right: 8px;
      color: #6f7274;
      border: 1px solid #d2caca; }
    .wrapper .filter-main .holy-search #form .when {
      margin-left: 8px; }
      .wrapper .filter-main .holy-search #form .when #num {
        width: 52px;
        height: 26px;
        color: #6f7274;
        border: 1px solid #d2caca; }
      .wrapper .filter-main .holy-search #form .when #mounth {
        width: 95px;
        height: 26px;
        color: #6f7274;
        border: 1px solid #d2caca;
        margin-left: 8px; }
      .wrapper .filter-main .holy-search #form .when #year {
        width: 66px;
        height: 26px;
        color: #6f7274;
        border: 1px solid #d2caca;
        margin-left: 8px; }
    .wrapper .filter-main .holy-search #form .duration {
      margin-left: 8px; }
      .wrapper .filter-main .holy-search #form .duration #duration {
        width: 236px;
        height: 26px;
        color: #6f7274;
        border: 1px solid #d2caca; }
    .wrapper .filter-main .holy-search #form .board {
      margin-left: 8px; }
      .wrapper .filter-main .holy-search #form .board span {
        margin-left: 0; }
      .wrapper .filter-main .holy-search #form .board .wr-board .wr-star {
        display: inline; }
      .wrapper .filter-main .holy-search #form .board #board {
        width: 110px;
        height: 26px;
        color: #6f7274;
        border: 1px solid #d2caca; }
      .wrapper .filter-main .holy-search #form .board #star {
        width: 110px;
        height: 26px;
        color: #6f7274;
        margin-left: 12px;
        border: 1px solid #d2caca; }
    .wrapper .filter-main .holy-search button {
      width: 162px;
      height: 36px;
      display: block;
      margin-top: 12px;
      margin-left: auto;
      margin-right: auto;
      color: #fff;
      font-family: "Myriad Pro";
      font-size: 18px;
      cursor: pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #f47f11;
      border-radius: 5px;
      background-image: -webkit-gradient(linear, left top, right top, from(#f47c0e), to(#faa848));
      background-image: -webkit-linear-gradient(left, #f47c0e 0%, #faa848 100%);
      background-image: -o-linear-gradient(left, #f47c0e 0%, #faa848 100%);
      background-image: linear-gradient(90deg, #f47c0e 0%, #faa848 100%);
      -webkit-box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21);
      box-shadow: 1px 1.732px 2px 0px rgba(2, 0, 0, 0.21); }

.banner {
  float: right;
  width: 662px;
  height: 414px;
  margin-right: 16px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ebebe8; }
  .banner img {
    width: 100%;
    height: auto; }

.top-wrap {
  clear: both;
  float: left;
  width: 264px;
  margin-left: 16px;
  margin-top: 16px;
  border: 1px solid #e5e2c4;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 6px; }
  .top-wrap span {
    display: inline-block;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 18px;
    font-family: "Myriad Pro";
    color: #0e4d7c;
    font-weight: bold;
    text-align: left; }
  .top-wrap p {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 14px; }
    .top-wrap p a {
      text-decoration: none;
      font-size: 12px;
      font-family: "Verdana";
      font-weight: bold;
      color: #1987cb; }
  .top-wrap .top-dest {
    height: 85px;
    margin-top: 1px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #ebebe8; }
    .top-wrap .top-dest .top-item img {
      margin: 5px;
      float: left;
      border: 2px solid #fff; }
    .top-wrap .top-dest .top-item .top {
      float: left; }
      .top-wrap .top-dest .top-item .top h5 {
        margin: 0;
        margin-top: 12px;
        margin-left: 5px; }
        .top-wrap .top-dest .top-item .top h5 a {
          text-decoration: none;
          font-size: 12px;
          font-family: "Verdana";
          color: #1987cb;
          font-weight: bold;
          line-height: 1.5;
          text-align: left; }
      .top-wrap .top-dest .top-item .top p {
        margin: 0;
        margin-left: 5px;
        margin-top: 12px;
        font-size: 12px;
        font-family: "Verdana";
        color: #a9a9a9;
        line-height: 1.3;
        text-align: left; }

.featured span {
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 4px;
  margin-top: 28px;
  font-size: 18px;
  font-family: "Myriad Pro";
  color: #0e4d7c;
  font-weight: bold; }

.featured .wrap-featured-item {
  float: left;
  margin-top: 2px;
  margin-left: 12px;
  margin-bottom: 12px;
  width: 210px;
  height: 220px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e5e2c4;
  background-color: #ebebe8; }
  .featured .wrap-featured-item .featured-item {
    width: 198px;
    height: 208px;
    position: relative;
    margin-left: 6px;
    top: 6px;
    background-color: #fff; }
    .featured .wrap-featured-item .featured-item img {
      margin-top: 5px;
      margin-left: 5px; }
    .featured .wrap-featured-item .featured-item h3 {
      margin: 0;
      text-align: center; }
      .featured .wrap-featured-item .featured-item h3 a {
        text-decoration: none;
        font-size: 12px;
        font-family: "Verdana";
        color: #1987cb;
        font-weight: bold; }
    .featured .wrap-featured-item .featured-item p {
      margin: 0;
      font-size: 12px;
      font-family: "Verdana";
      color: #9d9e9e;
      line-height: 1.5;
      text-align: center; }
      .featured .wrap-featured-item .featured-item p span {
        margin: 0;
        font-size: 12px;
        font-family: "Verdana";
        color: #ff6600;
        font-weight: bold; }
